<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app 
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" 
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <!-- General description of your web application -->
    <display-name>Sponsors</display-name>
    <absolute-ordering/>   
    <description>
    </description>
    <!--
    <filter>
      <filter-name>CAS Authentication Filter</filter-name>
      <filter-class>org.jasig.cas.client.authentication.AuthenticationFilter</filter-class>
    </filter>
    <filter>
      <filter-name>CAS Validation Filter</filter-name>
      <filter-class>org.jasig.cas.client.validation.Cas20ProxyReceivingTicketValidationFilter</filter-class>
    </filter>
    <filter>
      <filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
      <filter-class>org.jasig.cas.client.util.HttpServletRequestWrapperFilter</filter-class>
    </filter>
  <filter-mapping>
    <filter-name>CAS Authentication Filter</filter-name>
      <url-pattern>/Login</url-pattern>
    </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Validation Filter</filter-name>
      <url-pattern>/Login</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
    <url-pattern>/Login</url-pattern>
  </filter-mapping>
  -->
  <session-config>
    <cookie-config>
      <http-only>true</http-only>        
      <secure>true</secure>        
    </cookie-config>
    <session-timeout>120</session-timeout>    
  </session-config>
  

</web-app>
